<style>
    .titlu {
        font-size: 5.5rem;
        font-weight:600;
        margin-left: 275px;
    }
    .panel {
        background-color: #2b2d33;
    }
    .text {
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 1.2em;
    }
    .btn {
        padding: 0;
        line-height: normal;
        background-color: #037080;
        cursor: pointer;
        font-size: 1em;
        line-height: 1.5;
        font-weight: 600;
        padding: 5px 8px;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 0.25rem;
        border: 0.125rem solid transparent;
        vertical-align: middle;
    }

</style>


@model prima.Models.Calcule
@{
    ViewBag.Title = "Panouri";
}

<h2 class="titlu">Selecteaza panoul dorit</h2>
<div class="container">
    @foreach (var panou in ViewBag.panouri)
    {
        <div class="panel" style="margin-top:50px">
            <div class="panel-body">
                <div class="grid-item-details-competitor">
                    <img src="@Url.Content(panou.ImagePath)" alt="Sample Image" width="200" height="200" align="right" />
                </div>
                <p class="text">
                    @panou.NumePanou
                    <br />
                    @{panou.RandamentPanou = Convert.ToDouble(String.Format("{0:0.00}", panou.RandamentPanou)); }
                    ⋅ Randament: @panou.RandamentPanou %
                    <br />
                    ⋅ Putere maxima: @panou.PutereMaxima [W]
                    <br />
                    ⋅ Inaltime: @panou.Inaltime [mm]
                    <br />
                    ⋅ Latime: @panou.Latime [mm]
                    <br />
                    ⋅ Pret: @panou.CostPanou RON
                </p>
                <div class="butoane">
                    @using (Html.BeginForm(actionName: "SelectPanou", controllerName: "Calcul", method: FormMethod.Post,
                    routeValues: new { id = panou.PanouId }))
                    {
                        @Html.HiddenFor(b => b.JudetId)

                        <button class="btn btn-primary" style="margin-right:10px"
                                type="submit">

                            Selecteaza panoul
                        </button>
                    }
                </div>

            </div>
        </div>
    }
</div>